---
---

@import "plain";

{% if site.plainwhite.search %}
  @import "search";
{% endif %}

{%- if site.plainwhite.dark_mode -%}
  @import "toggle";
  @import "dark";
{%- endif -%}

blockquote {
  border-left: 4px solid #ccc;
  padding-left: 1rem;
}

.callout {
  padding: 12px;
  border-left: 4px solid #f59e0b;
  background: #727272;
}